// Custom font url
$font-url: 'https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800&display=swap';
$font-custom: 'Open Sans';

$font-url-icon: 'https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css';

// Font Decleration
$font-sans: $font-custom, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, 'Apple Color Emoji',
  'Segoe UI Emoji', 'Segoe UI Symbol', sans-serif;
$font-primary: $font-sans;

// Font Size
$base__font-size: 16px;
$base__line: 1.5;

//Font size variables
$font-size-def: $base__font-size * 0.875 !default;
$font-size-sm: $font-size-def * 0.75 !default;
$font-size-xsm: $font-size-sm * 0.625 !default;

//Heading font size vairables
$font-size-h1: $base__font-size * 2 !default;
$font-size-h2: $base__font-size * 1.5 !default;
$font-size-h3: $base__font-size * 1.17 !default;
$font-size-h4: $base__font-size * 1 !default;
$font-size-h5: $base__font-size * 0.83 !default;
$font-size-h6: $base__font-size * 0.75 !default;

$typefaces: (
  'Rift-Regular': (
    family: 'Rift-Regular',
    weight: normal,
    style: normal,
  ),
  'ChaparralPro-Regular': (
    family: 'ChaparralPro-Regular',
    weight: normal,
    style: normal,
  ),
);
